{% extends 'header_footer.html' %}

{% block title %}
    سامانه ارتباط با مشتری
{% endblock %}
{% block content %}
    <main class="container" dir="rtl">
        <br>
        <div class="row mb-2">
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            سامانه ارتباط با مشتری در بیمه
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
