{% extends 'header_footer.html' %}
{% load jalali_tags %}

{% block title %}
    بیمه ها
{% endblock %}
{% block content %}
    <main class="container" dir="rtl">
    <br>
        <div class="row mb-2">
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : بدنه ماشین
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 300,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : شخص ثالث
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 400,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : حوادث
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 500,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : درمان
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 300,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : عمر
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 200,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : واحد مسکونی
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 250,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : مرکز صنعتی
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 600,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : مرکز غیر صنعتی
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 600,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : حمل و نقل
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 500,000 تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-body-secondary">
                            نام بیمه : هواپیما
                        </div>
                        <div class="mb-1 text-body-secondary">
                            قیمت سالانه : 1,000,000 تومان
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}