<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
this is {{ user.username }} page
<br>
{% for ins in user.Insurance.all %}
    <p>{{ ins.name_value }}</p>
    {% for pay in ins.payment_dates.all %}
        {% if not pay.paid %}
            <p> {{ pay.date }} </p>
            <a href="{% url 'insurance:pay_url' pay.date|slugify ins.pk %}"> pay </a>
            <br>
        {% endif %}
    {% endfor %}
{% endfor %}
<a href="{% url 'insurance:sign_up_insurance_url' user.pk %}">buy insurance</a>
</body>
</html>